<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniDeluxe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniDeluxe.Properties.Settings>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>7809</value>
            </setting>
            <setting name="LowInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="HighInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RIOXIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RIOXPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="SSDR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadioPort" serializeAs="String">
                <value>12060</value>
            </setting>
            <setting name="RIOX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PSDR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="N1MM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPort" serializeAs="String">
                <value>7825</value>
            </setting>
            <setting name="Log4OM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log4OMService" serializeAs="String">
                <value>http://localhost:8080/log4om</value>
            </setting>
            <setting name="QRZcom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QRZUsername" serializeAs="String">
                <value>callsign</value>
            </setting>
            <setting name="QRZPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="QRZdburl" serializeAs="String">
                <value>http://xmldata.qrz.com/xml/current/</value>
            </setting>
            <setting name="Log4OMDBServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Log4OMDBName" serializeAs="String">
                <value>log4om_callsign</value>
            </setting>
            <setting name="Log4OMDBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Log4OMDBPass" serializeAs="String">
                <value>log4om_password</value>
            </setting>
        </MiniDeluxe.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFService" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/log4om" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWCFService" contract="log4omService.IWCFService"
                name="WSHttpBinding_IWCFService" />
        </client>
    </system.serviceModel>
</configuration>
