<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFService" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/log4om" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWCFService" contract="IWCFService"
                name="WSHttpBinding_IWCFService" />
        </client>
    </system.serviceModel>
</configuration>